body{
    background-color: #0079BF;
    box-sizing: border-box;
}

/*---generales/utilities---*/
.d-inlineblock {
    display: inline-block;
}

.d-none{
    display: none;
}

/*----header-----*/

header{
    width: 100%;   
    position: fixed;
    background-color: #0067A3;
    height: auto;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 600;
    padding: 0.4em;
}

/*----------Contenedor--------------*/
#contenedor{
    white-space: nowrap;
    padding-top: 3.5em;

}
/*---formato de div para agregar---*/

.lista {
    width: 19em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: #0067A3;
    padding: 0.6em;
    color: white;
    border-radius: 5px;
}

.nuevaLista{
    width: 17em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: #E2E4E6;
    padding: 0.6em;
    font-weight: bold;
    border: 1px dimgrey solid;
    border-radius: 5px;
}

.agregar {
    width: 17em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: #E2E4E6;
    padding: 0.6em;
    border-radius: 5px;
}

.text-tarjetas {
    width: 19em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: white;
    padding: 0.6em;
    border-radius: 5px;
}

.agregar:hover{
    background-color: grey;
}

/*---Trellos body---*/

.trello-body{
    padding: 0.5em;
    margin: 0.5em;
    width: 19em;
    background-color: #E2E4E6;
    vertical-align: top;
    border-radius: 5px;
    display: inline-block;
}

/*---formulario---*/
.formulario {
    width: 19em;
    height: auto;
    margin: 0.6em 0.5em;
    padding: 0.3em;
    background-color: #E2E4E6;
    border-radius: 5px;
}
.entrada {
    width: 90%;
    margin: 0.3em 0.7em;
    padding: 0.3em;
    border-radius: 5px;
}

.boton {
    display: block;
    padding: 0.5em 6.2em;
    margin: 0.3em 0.7em;
    background-color: #5BAE45;
    border: none;
    color: white;
    border-radius: 5px;
}

.textarea{
    width: 90%;
    margin: 0.3em 0.7em;
    padding: 0.3em;
    border-radius: 5px;
}