body{
    background-color: #0079BF;
    box-sizing: border-box;
}

/*---generales/utilities---*/
.d-inlineblock {
    display: inline-block;
}

.d-none{
    display: none;
}
.d-block{
    display: block;
}

.negrita{
    font-weight: 600;
}

/*----header-----*/

header{
    background-color: #0067A3;
    height: 3em;
}


/*---formato de div para agregar---*/

.lista {
    width: 17em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: #0067A3;
    padding: 0.6em;
    color: white;
    border-radius: 5px;
}

.nuevaLista{
    width: 17em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: #E2E4E6;
    padding: 0.6em;
    font-weight: bold;
    border: 1px dimgrey solid;
    border-radius: 5px;
}

.agregar {
    width: 17em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: white;
    padding: 0.6em;
    border-radius: 5px;
}

.agregar:hover{
    background-color: grey;
}

/*---Trellos body---*/

.trello-body{
    padding: 0.5em;
    margin: 0.5em;
    width: 19em;
    height: auto;
    background-color: #E2E4E6;
    float: left;
    border-radius: 5px;
}

/*---formulario---*/
.formulario {
    width: 17em;
    height: 6em;
    margin: 0.6em 0.5em;
    background-color: #E2E4E6;
    border-radius: 5px;
}
.entrada {
    width: 90%;
    margin: 0.3em 0.7em;
    padding: 0.3em;
    border-radius: 5px;

}

.boton {
    padding: 0.5em 5.1em;
    margin: 0.3em 0.7em;
    background-color: #5BAE45;
    border: none;
    color: white;
    border-radius: 5px;
}

